
env:
   global:
     - CONAN_REFERENCE: "dlib/19.19@omaralvarez/stable"
     - CONAN_USERNAME: "omaralvarez"
     - CONAN_LOGIN_USERNAME: "omaralvarez"
     - CONAN_CHANNEL: "testing"
     - CONAN_UPLOAD: "https://api.bintray.com/conan/omaralvarez/public-conan"
     - UPLOAD_URL: "https://api.bintray.com/conan/omaralvarez/public-conan"

linux: &linux
   os: linux
   sudo: required
   language: python
   python: "3.6"
   services:
     - docker
osx: &osx
   os: osx
   language: generic
matrix:
   include:

      - <<: *linux
        env: CONAN_GCC_VERSIONS=6 CONAN_DOCKER_IMAGE=lasote/conangcc6

      - <<: *linux
        env: CONAN_GCC_VERSIONS=7 CONAN_DOCKER_IMAGE=lasote/conangcc7

install:
  - chmod +x .ci/travis/install.sh
  - ./.ci/travis/install.sh

script:
  - chmod +x .ci/travis/run.sh
  - ./.ci/travis/run.sh
